<div class="d-flex flex-column h-100">
  <header class="d-flex align-items-center p-4 bg-dark">
    <div routerLinkActive="text-muted" routerLink="home" class="text-white mr-4 cst-link">Home</div>
    <div routerLinkActive="text-muted" routerLink="about" class="text-white mr-4 cst-link">About Us</div>
    <div routerLinkActive="text-muted" routerLink="contacts" class="text-white mr-4 cst-link">Contact Us</div>
  </header>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>



